<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Global Warming</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="../../static/css/style.css">
  <link rel="stylesheet" href="../../static/css/d3Style.css">
  <!-- <link rel="stylesheet" href="{{url_for('static',filename = 'css/style.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename = 'css/d3Style.css')}}"> -->


</head>

<body>
  <!--navigation bar-->
  <nav class="navbar navbar-expand-md floating p-0">
    <a class="navbar-brand p-3 ml-2" href="index.html">Home</a>
    <!-- <a class="navbar-brand p-3 ml-2" href="/">Home</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ">
            <!-- <a class="nav-link" href="/causes">Causes</a> -->
            <a class="nav-link active" href="causes.html">Causes</a>
          </li>
          <li class="nav-item">
            <!-- <a class="nav-link" href="/effects">Effects</a> -->
            <a class="nav-link" href="effects.html">Effects</a>
          </li>
          <li class="nav-item">
            <!-- <a class="nav-link" href="/future">Our Future</a> -->
            <a class="nav-link" href="future.html">Our Future</a>
          </li>
        </ul>
      </div>
  </nav>
  <!--jumotron page-->
  <div class="jumbotron jumbotron-fluid vertical-center">
    <div class="container align-middle">
        <h1 class="display-4"><strong>Global Warming</strong></h1>
        <p class="lead">
          <strong>“We are the first generation to feel the effect of climate change and the last generation who can do something about it.”
            Barack Obama, Former US President</strong></p>
    </div>
  </div>
  <div class="container-fluid" id="page">
    <div class="container-xxl" id="main">
      <div id="intro" class="row justify-content-center" >
        <div class='col-xs-5 col-md-5 mt-2 ml-2 ' style="color:white;">
          <h3 >What is really causing Global Warming?</h3>
          <p>Among some scientifics, a lot a skeptical people tend to believe that 
            the world increase in temperature of 1°C in 2020 compare to the pre-industrial 
            average is explained by natural causes. The discovered natural causes are the 
            <em>Orbit change</em>,the <em>Sun's temperature</em> and the <em>Volcanoes activities</em>.
            The human causes are <em>Deforestation</em>,the <em>Ozone pollution</em> and the 
            <em>Greenhouse effect</em>. The data is collected from a research from the Nasa who created 
            a model based on 61 climate model using climate projections to explain the global warming
            based on each cause. (<a href="https://www.giss.nasa.gov/" target='_blank'>NASA's Goddard Institute for Space Studies (GISS)</a>.
          </p>
        </div>
        <div id='dynamic'class='col-xs-5 col-md-5 mt-2 ml-4 justify-content-center'>
        </div>
      </div>
      <div id='graph'class="row justify-content-center mt-4 ">
        <div id= 'buttons' style="height:20px;"></div>
        <div id="graphic" class='col-xs-12 col-md-12 mt-4' style="height:500px;">
        </div>
      </div>
    </div>  
  </div>
  <!-- Footer-->
  <div id="footer">
    <p>Global Warming&copy;2020 by Quentin Mahieu</p>
  </div>
 
  <!-- <script src="{{url_for('static', filename='js/index.js')}}"></script> -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.min.js"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>

  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <!--home script-->
  <script type="text/javascript" src="../../static/js/causes.js"></script>



</html>
