<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Global Warming</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="../../static/css/style.css">
  <link rel="stylesheet" href="../../static/css/d3Style.css"> -->
  <link rel="stylesheet" href="{{url_for('static',filename = 'css/style.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename = 'css/d3Style.css')}}">


</head>

<body>
  <!--navigation bar-->
  <nav class="navbar navbar-expand-md floating p-0">
    <!-- <a class="navbar-brand p-3 ml-2" href="index.html">Home</a> -->
    <a class="navbar-brand p-3 ml-2" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ">
            <a class="nav-link" href="/causes">Causes</a>
            <!-- <a class="nav-link" href="causes.html">Causes</a> -->
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/effects">Effects</a>
            <!-- <a class="nav-link active" href="effects.html">Effects</a> -->
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/future">Our Future</a>
            <!-- <a class="nav-link" href="future.html">Our Future</a> -->
          </li>
        </ul>
      </div>
  </nav>
  <!--jumotron page-->
  <div class="jumbotron jumbotron-fluid vertical-center">
    <div class="container align-middle">
        <h1 class="display-4"><strong>Global Warming</strong></h1>
        <p class="lead">
          <strong>“We are the first generation to feel the effect of climate change and the last generation who can do something about it.”
            Barack Obama, Former US President</strong></p>
    </div>
  </div>
  <div class="container-fluid" id="page">
    <div class="container-xxl" id="main">
      <div id="intro" class="row justify-content-center" >
        <div class='col-xs-5 col-md-5 mt-2 ml-2 p-0' style="color:white;">
          <h3 style="text-align: center;">What are the effects of Global Warming?</h3>
          <p>The impact of Global Warming will increase and touch you no matter where you live.
          There are 5 main potential effects:</p>
            <p style='color:sandybrown;font-size: medium;'>
            <strong style="color:white;font-size: large;">People : </strong>More diseases due to air pollution,
            drought, storms, etc.<br style="line-height: 20%;>
            <strong style="color:white;font-size: large;">Extinctions : </strong>The environnement may not be hospitable for plants and animals.(Thinks
            about the Polar bears that have nowhere to go without ice)<br style="line-height: 20%;">
            <strong style="color:white;font-size: large;">Ice melting : </strong>Polar ice reflects sunlight and deflects heat; when it melts, 
            more of that heat stays in the atmosphere.<br style="line-height: 20%;">
            <strong style="color:white;font-size: large;">Ocean warming : </strong>While the oceans warm, water is expanding and causing sea levels to rise. 
            Warmer waters are killing coral reefs and krill — essential to supporting the sea food web.<br style="line-height: 20%;">
            <strong style="color:white;font-size: large;">Extreme wheater : </strong>While the atmosphere warms, the climate is changing, and so is the weather. 
            More frequent and more intense storms, flooding, droughts, heat waves, and even extreme snowfalls. <br style="line-height: 20%;"> 
            </p>
        </div>
        <div id='dynamic'class='col-xs-5 col-md-5 mt-2 ml-4 justify-content-center' style="color:#7395AE;background-color: white;border-radius: 25px; margin-bottom: 1%;">
          <p style="color: #7395AE;margin-top: 1%;font-size: medium;">The focus here is on the evolution of extreme weather for Australia since 1910 
            and the sea level increase.This should reflect what is happening for the last century on our planet.
            (<span style='color:sandybrown;font-size: smaller;'>click and reveal the correlation charts</span>)
          </p>
          <h5 style="color: #7395AE;line-height: 70%;"><u>Lexical</u></h5>
          <p style="color: #7395AE;font-size: medium;">
            <strong style="color:sandybrown;font-size: medium;">Temp Anomalie : </strong>
            Difference from an average, or baseline, temperature.(1850-1900 - 13.8°)<br>
            <strong style="color:sandybrown;font-size: medium;">Rainfall Anomalie : </strong>
            Difference from an average, or baseline, rainfall.(1961-1990 - 466mm)<br style="line-height: 30%;">
            <strong style="color:sandybrown;font-size: medium;">Okta : </strong>
            Unit of measurement describing the amount of cloud cover at any given location. It means how many eighths of the sky are covered in cloud,
            ranging from 0 (completely clear sky) through to 8 oktas (completely overcast).(1961-1990 - 3.2okta)
            <a id="links" href="https://climatekids.nasa.gov/cloud-climate/#:~:text=Secondly%2C%20clouds%20also%20have%20an,Sun%2C%20making%20Earth's%20temperature%20cooler." target="_blank">
            More info how clouds cool earth down</a><br style="line-height: 30%;">
            <strong style="color:sandybrown;font-size: large;">Drought Index : </strong>
            Palmer index measuring drought (-4 extreme drougth,between -1.9 and 1.9 normal, 4 extremely moist)
            <a id="links" href="https://climatedataguide.ucar.edu/climate-data/palmer-drought-severity-index-pdsi" target="_blank">
              More info here</a><br style="line-height: 30%;">
          </p>
          <div class="row justify-content-end my-2">
            <a class="next round" href="/future">Our Future &#8250;</a>
          </div>
        </div>
      </div>
      <div class='row justify-content-center mt-4'>
        <button type="button" value='max_temp' class="icons" onclick="makeResponsive(this.value)">
          <img  src="https://img.icons8.com/officel/40/000000/temperature.png" title="Max Temperature"/>
        </button>
        <button type="button" value='min_temp' class="icons" onclick="makeResponsive(this.value)">
          <img src="https://img.icons8.com/ultraviolet/40/000000/thermometer.png" title="Min Temperature"/>
        </button>
        <button type="button" value='rainfall_anom' class="icons" onclick="makeResponsive(this.value)">
          <img  src="https://img.icons8.com/ultraviolet/40/000000/rain.png" title="Rainfall anomalies"/>
        </button>
        <button type="button" value='day_cloud' class="icons" onclick="makeResponsive(this.value)">
          <img src="https://img.icons8.com/offices/40/000000/cloud.png" title="Cloudy days"/>
        </button>
        <button type="button" value='drough_index' class="icons" onclick="makeResponsive(this.value)">
          <img  src="https://img.icons8.com/office/40/000000/dry.png" title="Drough index"/>
        </button>
        <button type="button" value='lightning_count' class="icons" onclick="makeResponsive(this.value)">
          <img  src="https://img.icons8.com/offices/40/000000/cloud-lighting.png" title="Lightning count"/>
        </button>
        <button type="button" value='hails_count' class="icons" onclick="makeResponsive(this.value)">
          <img  src="https://img.icons8.com/officel/40/000000/hail.png" title="Hails count"/>
        </button>
        <button type="button" value='tornado_count' class="icons" onclick="makeResponsive(this.value)">
          <img  src="https://img.icons8.com/officexs/40/000000/tornado.png"title="Tornado count"/>
        </button>
        <button type="button" value='waterspouts_count' class="icons" onclick="makeResponsive(this.value)">
          <img  src="https://img.icons8.com/ultraviolet/40/000000/heavy-rain.png" title="Waterspouts count"/>
        </button>
        <button type="button" value='wind_speed_avg' class="icons" onclick="makeResponsive(this.value)">
          <img  src="https://img.icons8.com/ultraviolet/40/000000/wind--v1.png" title="Average wind speed"/>
        </button>
        <button type="button" value='diff' class="icons" onclick="makeResponsive(this.value)">
          <img src="https://img.icons8.com/fluent/48/000000/water-element.png" title="Sea level"/>
        </button>
        </ul>
      </div>
      <div class='row justify-content-center mt-4'>
        <div id="scatter" class='col-xs-12 col-md-12 mt-4'>
        </div>
      </div>
    </div>  
  </div>
  <!-- Footer-->
  <div id="footer">
    <p>Global Warming&copy;2020 by Quentin Mahieu - <a style="color: white;font-size: medium;" href="/project" target="_blank"> Project info </a></p>
  </div>
 
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.min.js"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  

  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <!--effects script-->
  <!-- <script type="text/javascript" src="../../static/js/effects.js"></script> -->
  <script src="{{url_for('static', filename='js/effects.js')}}"></script>

</html>
