<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Global Warming</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="../../static/css/style.css">
  <link rel="stylesheet" href="../../static/css/d3Style.css"> -->
  <link rel="stylesheet" href="{{url_for('static',filename = 'css/style.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename = 'css/d3Style.css')}}">


</head>

<body>
  <!--navigation bar-->
  <nav class="navbar navbar-expand-md floating p-0">
    <!-- <a class="navbar-brand p-3 ml-2" href="index.html">Home</a> -->
    <a class="navbar-brand p-3 ml-2" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ">
            <a class="nav-link" href="/causes">Causes</a>
            <!-- <a class="nav-link" href="causes.html">Causes</a> -->
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/effects">Effects</a>
            <!-- <a class="nav-link" href="effects.html">Effects</a> -->
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/future">Our Future</a>
            <!-- <a class="nav-link active" href="future.html">Our Future</a> -->
          </li>
        </ul>
      </div>
  </nav>
  <!--jumotron page-->
  <div class="jumbotron jumbotron-fluid vertical-center">
    <div class="container align-middle">
        <h1 class="display-4"><strong>Global Warming</strong></h1>
        <p class="lead">
          <strong>“We are the first generation to feel the effect of climate change and the last generation who can do something about it.”
            Barack Obama, Former US President</strong></p>
    </div>
  </div>
  <div class="container-fluid" id="page">
    <div class="container-xxl" id="main">
      <div id="intro" class="row justify-content-center" >
        <div class='col-xs-5 col-md-5 mt-2 ml-2 p-0' style="color:white;">
          <h3 style="text-align: center;">What does the future looks like?</h3>
          <p>We just observed that an increase of 1.2°C caused a lot of damage on our ecosystem.
            More extreme weather, health problems, wildlife extensions,
            etc. In short, a lot of trouble.<br style='line-height: 20%;'>
            <h5 style="color: white;line-height: 70%;"><u>What is the Limit?</u></h5>
            <p style='color:white;'>Experts and governments decided and agreed in 2015 that
            an increase of 2°C would be disastrous but maintainable (Paris agreement 2015) .
            In between some scientists believe that 2°C would be too late and would cause 
            irreversible damages.<br style="line-height: 30%;">
            (<a href="https://www.climateemergencyinstitute.com/2c.html#:~:text=2C%20was%20cited%20as%20an,responses%20expected%20to%20increase%20rapidly." target='_blank'>
            Read more</a> about the impact of a 2°C increase on our ecosystem.)</p>  
          </p>
        </div>
        <div id='dynamic'class='col-xs-5 col-md-5 mt-2 ml-4 justify-content-center'style="color:#7395AE;background-color: white;border-radius: 25px; margin-bottom: 1%;">
          <h3 style="color: #7395AE;text-align: center;">Projections up to 2100</h3>
          <p style="color: #7395AE;">The graph shows projections for
            <strong><em>Greenhouse Gases</em>,<em>Temperature anomalies</em></strong> and <strong><em>Sea level rise</em></strong>.
            <br style="line-height: 30%;">The idea is to visualise how these 3 features evolve if we don't change anything in the way we live by
            <strong>2100.</strong>. 
          </p>
          <h4 style="color: #7395AE;text-align: center;margin-top: -2%;"><ul>Measure your impact!</ul></h4>
          <h6 style="color: #7395AE;;margin-top: -2%;">The CO2 per capita was 17.27 tonnes in 2019,
             measure <a href="https://www.carbonfootprint.com/calculator.aspx" style='color: #7395AE;'>here</a> your footprint and
            see what happens if everybody had the same footprint in Australia.</h6>
          <form method="POST" action="{{url_for('impact')}}">
            <label for="CO2">Enter your Co2 emission (in Tonnes): </label>
            <input type="text" id="CO2" name="CO2" placeholder="17.27"><input id="submitbutton" type="submit" value="Submit">
          </form>
          <h6 style="border-radius: 25px;border-style: dashed;border-color: #7395AE;padding: 1%; margin-top: 1%;text-align: center;">{{temperature}}</h6> 
        </div>
      </div>
      <div id ="future" class='row mt-4' style="height: 550px;">
        <div id="buttons" class='col-xs-2 col-md-1 mt-4'>
          <ul>
            <button type="button" value='CO2(ppm)' class="ic" onclick="plotline(this.value)">
              <img id="im" src="https://img.icons8.com/color/40/000000/greenhouse-effect.png" title= "CO2 evolution"/>
            </button>
            <button type="button" value='global_anom' class="ic" onclick="plotline(this.value)">
              <img id="im" src="https://img.icons8.com/officel/40/000000/temperature.png" title= "Temperature evolution"/>
            </button>
            <button type="button" value='sea_level' class="ic" onclick="plotline(this.value)">
              <img id="im" src="https://img.icons8.com/fluent/40/000000/water-element.png" title="Sea level"/>
            </button>
          </ul>
        </div>
        <div  class='col-xs-12 col-md-9 mt-4'>
          <div id="linechart"></div>
          <p style="font-size: x-small;font-style: italic; color: white;">* 
            The prediction model is based on Greenhouse Gas projections made up to 2100 by the MIT of Cambridge.
            They bundled the CO2 plan countries gave to the climate change department of the United Nation.
            CO2 is the most important feature observed and is used with a <span style="color:white;"><em>lineair model</em></span>
            to predict the <span style="color:white;"><em>average increase in temperature</em></span> and <span style="color:white;"><em>the sea-level</em></span>. 
            With an accuraccy of respectively <span style="color:white;">90% </span>and <span style="color:white;">96.8% </span> 
            and a RSME of less than 1.5% for both predictions.
          </p>
        </div>
        <div id="logos" class='col-xs-2 col-md-1 mt-4 align-items-left p-0'style = 'width:150px'>
          <h3 style='color:white'>Other's Projections:</h3>
          <ul style="list-style-type: none;color:white;padding-left: 0;">
          </ul>
        </div>
      </div>
    </div>  
  </div>
  <!-- Footer-->
  <div id="footer">
    <p>Global Warming&copy;2020 by Quentin Mahieu - <a style="color: white;font-size: medium;" href="/project" target="_blank"> Project info </a></p>
  </div>
 
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.min.js"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  

  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <!--effects script-->
  <!-- <script type="text/javascript" src="../../static/js/future.js"></script> -->
  <script src="{{url_for('static', filename='js/future.js')}}"></script>

</html>
