<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Global Warming</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="../../static/css/style.css">
  <link rel="stylesheet" href="../../static/css/d3Style.css"> -->
  <link rel="stylesheet" href="{{url_for('static',filename = 'css/style.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename = 'css/d3Style.css')}}">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""/>

</head>

<body>
  <!--navigation bar-->
  <nav class="navbar navbar-expand-md floating p-0">
    <a class="navbar-brand p-3 ml-2" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ">
            <a class="nav-link" href="/causes">Causes</a>
            <!-- <a class="nav-link" href="causes.html">Causes</a> -->
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/effects">Effects</a>
            <!-- <a class="nav-link" href="effects.html">Effects</a> -->
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/future">Our Future</a>
            <!-- <a class="nav-link" href="future.html">Our Future</a> -->
          </li>
        </ul>
      </div>
  </nav>
  <!--jumotron page-->
  <div class="jumbotron jumbotron-fluid vertical-center">
    <div class="container align-middle">
        <h1 class="display-4"><strong>Global Warming</strong></h1>
        <p class="lead">
          <strong>“We are the first generation to feel the effect of climate change and the last generation who can do something about it.”
            <br>Barack Obama, Former US President</strong></p>
    </div>
  </div>
  <div class="container-fluid" id="page">
    <div class="container-xxl" id="main">
      <div id="intro" class="row justify-content-center" >
        <div class='col-xs-12 col-md-12 mt-2 ml-4' style="color:white;">
          <h3 style="text-align: left;"><u>Project Info</u></h3>
          <br>
          <p style='color:white;'> 
          Global Warming is something that we hear every day. It is surrounding us and it scares us.
          There is confusion between Global Warming and climate change. 
          <br style="line-height: 30%;">
          I was confused and I wanted to
          understand what this terms exactly means. I wanted to understand where this is coming from
          ,What it means four us and our planet. 
          <br style="line-height: 30%;">
          I wanted to visualise global warming and 
          see if we have already gone past the point of no return.
          </p>
          <p style='color:white;'> 
            The goal of this project is to understand Global Warming, its causes and effects.
            Once defined, I want to make predictions up to 2100 to visualise the Global Warming
            curve and when we are reaching the non-return point.
          </p>
          <h3 style="text-align: left;"><u>Project Sources</u></h3>
          <br>
          <p style='color:white;'>The main analysis is based on climate-science research done by  
            <a id="links" style="color:white;" href="https://climate.nasa.gov/" target="_blank"><strong>NASA</strong></a>, the 
            <a id="links" style="color:white;" href="https://www.ipcc.ch/" target="_blank"><strong>IPCC</strong></a> and the
            <a id="links" style="color:white;" href="https://www.noaa.gov/climate" target="_blank"><strong>NOAA</strong></a>.
            <br>The data was found on their websites, 
            kaggle and on the <a href="https://www.climatechangeinaustralia.gov.au/" target="_blank">climate
            change in Australia</a> website.
          </p>
          <h3 style="text-align: left;"><u>Lexical</u></h3>
          <br>
          <p style="color: white;font-size: medium;">
            <strong style="color:sandybrown;font-size: medium;">Anomalie : </strong>
            Difference from an average, or baseline.<br>
            <strong style="color:sandybrown;font-size: medium;">Temp Anomalie : </strong>
            Difference from an average, or baseline, temperature.(1850-1900 - 13.8°)<br>
            <strong style="color:sandybrown;font-size: medium;">Rainfall Anomalie : </strong>
            Difference from an average, or baseline, rainfall.(1961-1990 - 466mm)<br style="line-height: 30%;">
            <strong style="color:sandybrown;font-size: medium;">Okta : </strong>
            Unit of measurement describing the amount of cloud cover at any given location. It means how many eighths of the sky are covered in cloud,
            ranging from 0 (completely clear sky) through to 8 oktas (completely overcast).(1961-1990 - 3.2okta)
            <a id="links" href="https://climatekids.nasa.gov/cloud-climate/#:~:text=Secondly%2C%20clouds%20also%20have%20an,Sun%2C%20making%20Earth's%20temperature%20cooler." target="_blank">
            More info how clouds cool earth down</a><br style="line-height: 30%;">
            <strong style="color:sandybrown;font-size: large;">Drought Index : </strong>
            Palmer index measuring drought (-4 extreme drougth,between -1.9 and 1.9 normal, 4 extremely moist)
            <a id="links" href="https://climatedataguide.ucar.edu/climate-data/palmer-drought-severity-index-pdsi" target="_blank">
              More info here</a><br style="line-height: 30%;">
            <strong style="color:sandybrown;font-size: large;">Global Warming : </strong>
            unusually rapid increase in Earth’s average surface temperature over the past century.
          </p>
        </div>
    </div>  
    </div>
  </div>
  <!-- Footer-->
  <div id="footer">
    <p>Global Warming&copy;2020 by Quentin Mahieu - <a style="color: white;font-size: medium;" href="/project" target="_blank"> Project info </a></p>
  </div>
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.min.js"></script>


</body>

</html>
